{# src/Casecenter/PlanningBundle/Resources/views/PlanningFootball2014/calendar.html.twig #}
{% extends "CasecenterPlanningBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/casecenterplanning/css/main_football2014.css') }}" type="text/css" />
{% endblock %}

{% block head_title %}{{ planning.name }} - {{ 'planning.plural'|trans }} - {{ parent() }}{% endblock %}

{% block body_class %}{{ parent() }}calendar football2014{% endblock %}

{% block breadcrumb %}
	{{ parent() }}
	<li><a href="{{ path('planning_index') }}">{{ 'planning.plural'|trans }}</a></li>
	<li><a href="{{ path('planning_football2014_overview') }}">{{ planning.name }}</a></li>
	<li class="active">{{ 'planning.calendar.label'|trans }}</li>
{% endblock %}

{% block header_title %}
	{{ parent() }} <span>/</span> {{ 'planning.singular'|trans }} <span>:</span> {{ planning.name }} <span>:</span> {{ 'planning.calendar.label'|trans }}
{% endblock %}

{% block header_nav %}
	<li><a href="{{ path('planning_football2014_overview') }}">Retour au planning</a></li>
{% endblock %}

{% block body %}
	<table class="bookings table table-striped table-condensed">
		<thead><tr>
			<th></th>
			{% for package in packages %}<th>{{ package.name }}</th>{% endfor %}
		</tr></thead>
		<tbody>{% for date in bookings %}
			<tr class="{% if date.d.enabled == 1 %}enabled{% else %}inactivate{% endif %}">
				<td>
					<h4>{{ date.d.date|date("d/m/Y") }}</h4>
					{% if date.d.enabled == 1 %}<a href="{{ path('planning_football2014_dateclose', {'id': date.d.id}) }}" class="btn btn-success btn-xs">Fermer la date</a>{% else %}<small><em>Fermé à la réservation</em></small>{% endif %}
				</td>
				{% for package in date.p %}<td>
					{% for b in package %}
						{% if loop.first %}<ul>{% endif %}
						{% if b.booking_archive == NULL and b.bookingdate_archive == NULL %}
							<li class="booking {{ b.bookingdate_status }}">
								<p class="what"><b>{{ b.advertiser }}, {{ b.campaign }}</b> ({{ b.bookingdate_status }}, {{ b.price }})</p>
								<p class="who">{{ b.name }} {{ b.firstname }}, {{ b.company }}</p>
								<p class="date">Crée le {{ b.creation|date("d/m/Y H:i") }}</p>
								<p class="links"><a href="{{ path('booking_insertionorder', {'id': b.booking_id}) }}" target="_blank">{{ 'booking.insertionorder.link'|trans }}</a>{% if b.bookingdate_status != "confirm" %} <a href="{{ path('planning_football2014_deleteoption', {'date': b.date_id, 'booking': b.booking_id}) }}">Supprimer cette option</a>{% endif %}</p>
							</li>
						{% else %}
							<li class="archive"><p>{{ b.advertiser }}, {{ b.campaign }} par {{ b.name }} {{ b.firstname }} ({{ b.company }}) ({% if b.booking_archive != NULL %}réservation supprimée le {{ b.booking_archive|date("d/m/Y H:i") }}{% elseif b.bookingdate_archive != NULL %}option supprimée le {{ b.bookingdate_archive|date("d/m/Y H:i") }}{% endif %})</p></li>
						{% endif %}
						{% if loop.last %}</ul>{% endif %}
					{% endfor %}
				</td>{% endfor %}
			</tr>
		{% endfor %}</tbody>
	</table>
{% endblock %}