{# src/Casecenter/UserBundle/Resources/views/Security/login.html.twig #}

{% extends "CasecenterUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body_id %}login{% endblock %}
{% block body_class %}{{ parent() }}card{% endblock %}

{% block fos_user_content %}
	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		{% include "CasecenterUserBundle:Security:login_already.html.twig" %}
	{% else %}
		<h1>{{ 'login.signin'|trans({}, 'messages') }}</h1>
		
		{% if error %}<div class="alert alert-danger">{{ error|trans }}</div>{% endif %}

		<form action="{{ path('fos_user_security_check') }}" method="post" class="form-horizontal">
			<div class="form-group"><input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" autocomplete="off" required="required" /></div>
			<div class="form-group"><input type="password" id="password" class="form-control" name="_password" placeholder="{{ 'security.login.password'|trans }}" autocomplete="off" required="required" /></div>
			<div class="row">
				<div class="col-md-7"><div class="form-group"><div class"checkbox"><label for="remember_me" class="checkbox"><input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}</label></div></div></div>
				<div class="col-md-5"><div class="form-group"><input type="submit" id="_submit" class="btn btn-primary" name="_submit" value="{{ 'security.login.submit'|trans }}" /></div></div>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		</form>

		<p><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a><p/>

		<p><a href="{{ path('fos_user_registration_register') }}" class="signon">{{ 'login.signon'|trans({}, 'messages') }}</a><p/>
	{% endif %}
{% endblock fos_user_content %}

{% block footer %}
	<ul class="list-inline">
		<li><a href="mailto:contact@amaurymediasdigital.fr">Besoin d'aide ?</a></li>
		<li><a href="http://www.amaurymedias.fr" target="_blank">Amaury Médias</a></li>
		<li><a href="http://www.amaurymedias.fr/digital/recos/?utm_source=Plateforme%2BAmaury%2BMedias%2BDigital&utm_medium=Liens&utm_campaign=Footer" target="_blank">Spécifications techniques digital</a></li>
	</ul>
{% endblock %}