<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="fr" class="no-js"> <!--<![endif]-->
    <head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Language" content="fr">
		
		<title>{% block head_title %}Amaury M&eacute;dias Digital{% endblock %}</title>
		
        <link href="{{ asset('favicon.ico') }}" rel="shortcut icon" />
        <meta name="description" content="">
        
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		{# 'css/lib/bootstrap-datetimepicker.min.css' 'css/lib/bootstrap-select.min.css' #}
        {% stylesheets filter='cssrewrite' output='css/style.css' 'css/lib/normalize.css' 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'  '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' 'http://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:400,700' 'css/lib/main.css' %}<link rel="stylesheet" type="text/css" href="{{ asset_url }}">{% endstylesheets %}
        {% block stylesheets %}{% endblock %}

        <script src="{{ asset('js/lib/modernizr-2.8.3.min.js') }}"></script>
    </head>
    
    {% set body_id_block = block('body_id') %}
    {% set body_class_block = block('body_class') %}
    <body{% if body_id_block is not empty %} id="{{ body_id_block|raw }}"{% endif %}{% if body_class_block is not empty %} class="{{ body_class_block|raw }}"{% endif %}>
        <!--[if lt IE 7]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->

        {% set breadcrumb_block = block('breadcrumb') %}
        {% if breadcrumb_block is not empty %}
        {% spaceless %}
        <ol id="breadcrumb" class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
            {{ breadcrumb_block|raw }}
            {#
			<li class="notifications right new">
                <span class="fa fa-bell fa-lg"></span> <span class="badge">3</span>
                <ul>
                    <li class="header">[Mes notifications (3)]</li>
                    <li>Alerte 1</li>
                    <li>Alerte 2</li>
                    <li class="footer"><a>[ Afficher tout ]</a></li>
                </ul>
            </li>
            <li class="favorites right">
                <span class="glyphicon glyphicon-th fa-lg"></span>
                <ul>
                    <li>fav 1</li>
                    <li>fav 2</li>
                </ul>
            </li>
			#}
        </ol>
        {% endspaceless %}
        {% endif %}
        
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}{% spaceless %}{{ render(controller('CasecenterUserBundle:User:nav', {'route': app.request.attributes.get('_route')})) }}{% endspaceless %}{% endif %}

        {% spaceless %}
        <div id="page">
            <header>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <h1>
                        {% if app.request.requesturi != path('dashboard') %}<a href="{{ path('dashboard') }}">{% endif %}<img src="{{ asset('images/amaurymediasdigital_h.png') }}" alt="Amaury Médias Digital" border="0" />{% if app.request.requesturi != path('dashboard') %}</a>{% endif %}
                        {% block header_title %}{% endblock %}
                    </h1>
					
					{% set header_boutons_block = block('header_boutons') %}
					{% if header_boutons_block is not empty %}<div class="bg-danger">DELETE >> {{ header_boutons_block|raw }}</div>{% endif %}
					
                    {% set header_nav_block = block('header_nav') %}
                    {% if header_nav_block is not empty %}<nav class="clearfix"><ul class="list-inline">{{ header_nav_block|raw }}</ul></nav>{% endif %}
                {% else %}
                    <h1><img src="{{ asset('images/amaurymediasdigital.png') }}" alt="Amaury Médias Digital" border="0" /></h1>
                {% endif %}
            </header>

            <div class="main">
                {% include "::flashbag.html.twig" %}
                {% block body %}{% endblock %}
            </div>

            <footer>
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}<p class="switch_user"><span class="glyphicon glyphicon-eye-open"></span> {{ 'switch_user.footer'|trans() }} <a href="?_switch_user=_exit">{{ 'switch_user.exit'|trans() }}</a>.</p>{% endif %}
                {% block footer %}<a href="http://www.amaurymedias.fr" target="_blank"><img src="{{ asset('images/amaurymedias_footer.png') }}" alt="Amaury M&eacute;dias" border="0" /></a><br />{% endblock %}
            </footer>
        </div>
        {% endspaceless %}

        {% javascripts output='js/scripts.js' 'http://code.jquery.com/jquery-2.1.1.min.js' 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' 'js/lib/bootstrap-datetimepicker.min.js' 'js/lib/bootstrap-select.min.js' 'js/lib/plugins.js' 'js/lib/main.js' %}<script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}
        {% block javascripts %}{% endblock %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-24143025-2', 'amaurymediasdigital.fr');
            ga('send', 'pageview');
        </script>
    </body>
</html>
