{# src/Casecenter/AdvertisingBundle/Resources/views/Partner/index.html.twig #}
{% extends "CasecenterAdvertisingBundle::layout.html.twig" %}

{% block head_title %}{{ 'partner.plural'|trans }} - {{ parent() }}{% endblock %}

{% block body_id %}partner{% endblock %}
{% block body_class %}{{ parent() }}index{% endblock %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active">{{ 'partner.plural'|trans }}</li>
{% endblock %}

{% block header_title %}
	{{ parent() }} <span>/</span> {{ 'partner.plural'|trans }}
{% endblock %}

{% block header_boutons %}{% endblock %}

{% block header_nav %}{% endblock %}

{% block body %}{% endblock %}