{# src/Casecenter/SupportBundle/Resources/views/Format/add.html.twig #}

{% extends "CasecenterSupportBundle::layout.html.twig" %}

{% block head_title %}{{ 'format.new.label'|trans }} - {{ page.name }} - {{ page.support.name }} - {{ 'support.singular'|trans }} - {{ 'Administration'|trans }} - {{ parent() }}{% endblock %}

{% block body_class %}{{ parent() }}add{% endblock %}

{% block breadcrumb %}
	{{ parent() }}
	<li><a href="{{ path('support_index') }}">{{ 'support.plural'|trans }}</a></li>
	<li><a href="{{ path('support_view', {'slug': page.support.slug}) }}">{{ page.support.name }}</a></li>
	<li><a href="{{ path('support_page_view', {'slugSupport': page.support.slug, 'slugPage': page.slug}) }}">{{ page.name }}</a></li>
	<li class="active">{{ 'format.new.label'|trans }}</li>
{% endblock %}

{% block header_title %}
	{{ parent() }} <span>/</span> {{ 'support.singular'|trans }} <span>:</span> {{ page.support.name }} <span>:</span> {{ page.name }}
{% endblock %}

{% block body %}
	<h3>{{ 'format.new.title'|trans({'%support%': page.support.name, '%page%': page.name}) }}</h3>

	<form method="post" action="{{ path('support_format_add', {'slugSupport': page.support.slug, 'slug': page.slug}) }}" {{ form_enctype(form) }}>
		{{ form_widget(form) }}

		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="{{ 'form.add.btn'|trans }}" />
			<a href="{{ path('support_page_view', {'slugSupport': page.support.slug, 'slugPage': page.slug}) }}" class="btn btn-default btn-sm">{{ 'form.btn.cancel'|trans }}</a>
		</div>
	</form>
{% endblock %}