{# src/Casecenter/SupportBundle/Resources/views/Format/edit.html.twig #}

{% extends "CasecenterSupportBundle::layout.html.twig" %}

{% block head_title %}{{ format.name }} - {{ format.page.name }} - {{ format.page.support.name }} - {{ 'support.singular'|trans }} - {{ 'Administration'|trans }} - {{ parent() }}{% endblock %}

{% block body_class %}{{ parent() }}edit{% endblock %}

{% block breadcrumb %}
	{{ parent() }}
	<li><a href="{{ path('support_index') }}">{{ 'support.plural'|trans }}</a></li>
	<li><a href="{{ path('support_view', {'slug': format.page.support.slug}) }}">{{ format.page.support.name }}</a></li>
	<li><a href="{{ path('support_page_view', {'slugSupport': format.page.support.slug, 'slugPage': format.page.slug}) }}">{{ format.page.name }}</a></li>
	<li class="active">{{ format.name }}</li>
	<li class="active">{{ 'format.edit.label'|trans }}</li>
{% endblock %}

{% block header_title %}
	{{ parent() }} <span>/</span> {{ 'support.singular'|trans }} <span>:</span> {{ format.page.support.name }} <span>:</span> {{ format.page.name }} <span>:</span> {{ format.name }}
{% endblock %}

{% block body %}
	<h3>{{ 'format.edit.label'|trans }}</h3>

	<form method="post" action="{{ path('support_format_edit', {'slugSupport': format.page.support.slug, 'slugPage': format.page.slug, 'slugFormat': format.slug}) }}" {{ form_enctype(form) }}>
		{{ form_widget(form) }}

		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="{{ 'form.edit.btn'|trans }}" />
			<a href="{{ path('support_format_delete', {'slugSupport': format.page.support.slug, 'slugPage': format.page.slug, 'slugFormat': format.slug}) }}" class="btn btn-danger btn-sm">{{ 'form.delete.label'|trans }}</a>
			<a href="{{ path('support_page_view', {'slugSupport': format.page.support.slug, 'slugPage': format.page.slug}) }}" class="btn btn-default btn-sm">{{ 'form.btn.back'|trans }}</a>
		</div>
	</form>
{% endblock %}